certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
Faker==37.3.0
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pytest==8.3.5
pytest-schema==0.1.2
python-dotenv==1.1.0
requests==2.32.3
schema==0.7.7
tzdata==2025.2
urllib3==2.4.0
